.git
node_modules
vendor
storage/*.key
.env
.env.*
/.idea
.vscode
npm-debug.log
yarn-error.log
/.gitignore
bootstrap/cache/*
storage/framework/cache/data
storage/logs
storage/framework/sessions
storage/framework/views
ml_service/__pycache__
*.pyc
/.dockerignore
